<!DOCTYPE html>
<html>
  <head>
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>sign up</h1>
    <form action='/signup' method="post">
      <input type='text' name='name' placeholder='name'/>
      <input type='text' name='pass' placeholder='password'/>
      <input type='submit' value='ok'/>
      
    </form>
    <p>already a user ? <a href="/log" >sign in</a></p>
  </body>
</html>
