<!DOCTYPE html>
<html>
  <head>
    <title>sign in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>log in</h1>
    <form action='/login' method="post">
      <input type='text' name='name' placeholder='name'/>
      <input type='text' name='pass' placeholder='password'/>
      <input type='submit' value='login'/>
      
    </form>
    </body>
</html>
